<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>C_Node</name>
  <description>Node for C Proj</description>
  <remoteFS>/opt/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>43.205.207.71</host>
    <port>22</port>
    <credentialsId>ee9ede90-89a8-44c4-a640-4927a8ef694a</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyProvidedKeyVerificationStrategy">
      <key>
        <algorithm>ssh-rsa</algorithm>
        <key>AAAAB3NzaC1yc2EAAAADAQABAAABgQCvxxuR2shY7XVrVAkqzQZC/M71qU20TdkptPuqPPTSSAkNXnXg2IvjfDt6SkiWuKJ6DMEpks9T6lI3AZn8Y/9bkkoQZSc4jueyefvkGXb6mjyUD0E05CYl/zGf2CEJ+FTcitcTuWIeM4W7mj7jfCtrZpPKptgwmoDLXnrR0ZluezFUrTdOYhLOpFgv4MVauDhBpy/cGDUoehswbnffJOUNLdHKYr54NADqq5p+T1zFGG/42hd/L3YT7IBkerYeFpzm/ToimjED2T5PW0B7LGQJdKuQ8g7SHHg2SCad/tZ9hX4bXOPthnjsA7YT5Nz2Q5JKbyh60uaY6wkHvsbaLMoDvwOlp8V0O1+X7tGg1UsZVfXzQ3ousYn+EoY5hobK26EcKoOnbV2pJvQIdMKN6G+YibowSKOu7SFXEdHFieO81drZS/JfX5RWJr62ZV+RSaA8bbWnTviIAIjJmCBG78APe3ApD3YvJj6rdM5/uihNf1fgjy0LTd7xW6yebFHSxbM=</key>
      </key>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>